
.mat-expansion-panel-header-title {
  color: rgba(0,0,0,.87);
  color: white;  
}

.mat-title-s1{
  margin-left: 30%;
  margin-right: 35%;
  height: 100%;
  justify-content: center !important;
  font-size:18pt;
  font-weight: bold;
  margin-bottom: 3%;
  margin-top:3%;
}

h1{
 font-size: xx-large; 
 font-style: bold;
}

.div-mat-s1{
  padding-top:1%;
}

.mat-row .mat-footer-row{
  min-height: 60px !important;
}

::ng-deep .mat-header-row {
  min-height: 56px;
  background-color: #EBF5FB !important;
}

.mat-expansion-panel-header-title[_ngcontent-ng-cli-universal-c159] {
  color: rgba(0, 0, 0, 0.87);
  color: white;   
  margin: 4px 4px 7px 400px; 
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.mat-expansion-panel-header-title {
  color: rgba(0,0,0,.87);
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
}

.mat-expansion-panel-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size:20px;
  font-weight: 400;
  background-color: #3498DB;
  color: white;
  display: flex;
  flex-direction: row; 
}

.disable_ripple:hover{
  background: #3498DB !important;
}
 
mat-expansion-panel-header:hover {
  background-color: #3498DB !important
}

::ng-deep .mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background-color: #3498DB ;
  color:white;
}

.mat-expansion-panel-header-title {
  color: white;
}
  
.mid-center {    
  top: 10%;
  bottom:10%;
  margin-right:25%;
  margin-left:25%;
}
 
.comments-s {   
  display:block;     
}

.btn-s{
  background-color: #3498DB;
  color: white;  
  bottom:1%;
}

.container-s{
  padding-top:5%;
}